# Compiled class files
**/*.class

# Build output
FarmaciaManipulacao/build/
build/
dist/

# NetBeans
nbproject/private/
nbproject/Makefile-*.mk
nbproject/Package-*.bash

# VS Code
.vscode/

# Logs
*.log
